<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNghwgWY1ZjNilFNL8oiMdFlcXyNErBDg</string>
	<key>GCM_SENDER_ID</key>
	<string>940730671498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.UtToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-7a6a5</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-7a6a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940730671498:ios:0d008293c6403682a22873</string>
</dict>
</plist>